.gradient-background {
  background: linear-gradient(90deg,red,orange,yellow,green,cyan,blue,purple);
  background-size: 60% 60%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}