body,head {
    background-image: linear-gradient(360deg,lime,limegreen,green,forestgreen,darkgreen,teal,turquoise,cyan,aqua);
    height: 1000px;px;
    width: 400px;
}

#Shit {
    color-scheme:light dark;
}
